*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.network_page{
    display: grid;
    grid-template-columns: minmax(300px,7fr) minmax(0,17fr);
    justify-content: center;
    margin: 0 auto;
    max-width: 113rem;
    margin-top: 8rem;
}
.left_aside_network{
    font-size: 1.6rem;
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1.2rem;
 
}
.network_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
    gap: 1rem;
}
.network_icon{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--gray);
    gap: 1.6rem;
    padding: 0.8rem;
    
}
.show_less{
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--gray);

}
.show_less svg{
    margin-left: 0.8rem;   
}
.ad{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
    font-size: 1.3rem;
    color: var(--gray);
}
.skills{
    text-align: center;
    font-size: 1.2rem;
    color: var(--gray);
}
.skills img{
    margin-top: 2rem;
    width: 25%;
}
.hiring{
    text-align: center;
    margin: 2rem 0;
}
.bdr{
    border: 1px solid var(--blue);

}
.personal_contact{
    text-align:center ;
}
.invitation_box{
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    background-color: var(--white);
    border-radius: 1rem;
    margin-left: 1.6rem;
    padding: 1rem;
}
.invitation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--silver);
}
.invitation p{
    padding: 20px;
    font-size: 1.6rem;
    color: var(--charcoal);
}
.card_info img{
width: 72px;
height: 72px;
border-radius: 50%;
}
.card_info{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--gray);
}
.card_info h2{
    color: var(--charcoal);
    margin-bottom: 0.6rem;
}
.invitation_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--silver);
}
.invite_reaction{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
}
.followers{
    display: flex;
    align-items: center;
    gap:0.4rem;
    margin-top: 0.6rem;
}
.card_info h2:hover{
    text-decoration: underline;
}