/*
- Font sizes (px) 
- Rem 1rem 1.2rem 1.4rem ...
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

LinkedIn font-sizes
-1.2rem
-1.4rem
-1.6rem

- Spacing system (px)
- Rem 0.2rem 0.4rem 0.8rem ...
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  --white: #fff;
  --body-bg: #f3f2ef;
  --black: #000;
  --charcoal: #313335;
  --gray: #86888a;
  --silver: #caccce;
  --blue: #0077b5;
  --red: #dd5143;
  --orange: #e68523;
  --green: #5f9b41;
  --hover-light: #ebebeb;
  --hover-blue: #e2f0f2;
  --input-bg: #eef3f8;
  --helvetica: Arial, Helvetica, sans-serif;
  --helvetica: apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
  --weight-lighter: 200;
  --weight-regular: 400;
  --weight-bold: 600;
}

html {
  box-sizing: border-box;
  /* 1 rem = 10px */
  font-size: 62.5%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: var(--helvetica);
  font-weight: var(--weight-regular);
  line-height: 1;
  background: var(--body-bg);
  font-size: 1.2rem;
}

a {
  color: var(--black);
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.container {
  max-width: 113rem;
}

.grid-3-col {
  margin: 0 auto;
  justify-content: center;
  display: grid;
  /* grid-template-columns: 1fr 2fr 1.5fr; */
  grid-template-columns: minmax(0, 5fr) minmax(0, 12fr) minmax(300px, 7fr);
  gap: 2rem;
  padding-right: 5px;
  margin-top: 8rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*#==================================================== Navbar ======================================================================= */

.navbar-bg {
  background-color: var(--white);
  margin-bottom: 2.4rem;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo i {
  font-size: 4.5rem;
  color: var(--blue);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.search-box {
  background: var(--input-bg);
  width: 250px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.search-box i {
  font-size: 15px;
}

.search-box input {
  width: 100%;
  background: transparent;
  padding: 8px;
  outline: none;
  border: 0;
}

/* =================================== CENTER ====================================*/
.navbar-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  cursor: pointer;
}

.profile-img {
  width: 23px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}

.online {
  position: relative;
}

.online::after {
  content: '';
  width: 8px;
  height: 8px;
  border: 2px solid var(--white);
  border-radius: 50%;
  right: 0px;
  top: 0px;
  background: #41db51;
  position: absolute;
}

.work a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gray);
  cursor: pointer;
}

.work a:hover {
  color: var(--black);
}

.work i:hover {
  color: var(--black);
}

.work i {
  font-size: 2.5rem;
  display: flex;
}

.nine-dots {
  color: var(--gray);
  cursor: pointer;
}

.nine-dots:hover {
  color: var(--black);
}

.try-premium {
  color: var(--red);
  text-align: center;
}

.try-premium a {
  color: var(--red);
}

/*# User box center */
.post {
  border-radius: 1rem;
  background-color: var(--white);
  margin-bottom: 1rem;
}
.reactor-box {
  padding: 1.2rem;
  border-bottom: 1px solid var(--silver);
}
.reactor-box i {
  font-size: 2.4rem;
}

.reactor {
  gap: 0.8rem;
  color: var(--charcoal);
  font-weight: var(--weight-bold);
}
.reactor p span {
  font-weight: var(--weight-lighter);
  color: var(--gray);
}
.reactor img {
  width: 24px;
  border-radius: 50%;
}

[class^='ph-dots'] {
  color: var(--gray);
}

.poster-box {
  padding: 1.2rem;
}

.poster-box img {
  width: 48px;
  border-radius: 50%;
}

.poster-text {
  flex-direction: column;
  line-height: 1.2;
  align-items: flex-start;
  color: var(--gray);
}

.poster-name {
  font-size: 1.4rem;
  font-weight: var(--weight-bold);
  color: var(--charcoal);
}

.poster-text p {
  gap: 0.4rem;
}

.follow {
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  color: var(--blue);
  gap: 0.4rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
}

.follow:hover {
  background-color: var(--input-bg);
}

.middot {
  font-weight: var(--weight-bold);
}
.poster-info {
  gap: 1rem;
}

.post-description {
  padding: 0 1.2rem 1.2rem 1.2rem;
  font-size: 1.4rem;
  color: var(--charcoal);
}

.reaction-count-box {
  padding: 1.2rem;
  border-bottom: 1px solid var(--silver);
  color: var(--gray);
}

.reaction-count-box .right {
  gap: 1rem;
}

.react-box {
  padding: 0.8rem;
  justify-content: space-around;
}

.react-box li {
  display: flex;
  color: var(--gray);
  font-size: 1.6rem;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  gap: 0.2rem;
  cursor: pointer;
}

.repost-li svg {
  fill: var(--gray);
}

.react-box li:hover {
  background-color: var(--hover-light);
}

.react-box i {
  font-size: 3rem;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/*#================================================================ Left aside =======================================================*/

.part-one {
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--white);
}
.identity-img {
  background: url(https://media.licdn.com/dms/image/C4D16AQFSzFIBalvPxA/profile-displaybackgroundimage-shrink_200_800/0/1662794400367?e=1676505600&v=beta&t=1ltsT07gWqRLWHhGrowdrAwjg3xVI6qnLmUjn_mRtno);
  background-position: center;
  background-size: cover;
  height: 5.6rem;
  display: flex;
  justify-content: center;
}

.identity-text img {
  border-radius: 50%;
  width: 72px;
  height: 72px;
  margin-bottom: 2.4rem;
}

.identity-text {
  text-align: center;
  padding: 1.2rem;
  border-bottom: 1px solid var(--silver);
  margin-top: -4.8rem;
}

.identity-text a {
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  color: var(--charcoal);
  display: block;
}

.identity-text a:hover {
  text-decoration: underline;
}

.identity-text p {
  margin-top: 1.2rem;
  font-size: 1.2rem;
  font-weight: var(--weight-light);
  color: var(--gray);
}

.connection-box {
  padding: 1.2rem;
  border-bottom: 1px solid var(--silver);
  font-weight: var(--weight-bold);
  color: var(--gray);
}

.connections {
  margin-bottom: 1.2rem;
}

.connections,
.views {
  display: flex;
  justify-content: space-between;
  line-height: 1.6;
}

.connection-box span {
  color: var(--blue);
}

.premium-box {
  padding: 1.2rem;
  border-bottom: 1px solid var(--silver);
  color: var(--gray);
}

.premium-box a {
  margin-top: 0.4rem;
  display: inline-block;
  text-decoration: underline;
  font-weight: var(--weight-bold);
  color: var(--charcoal);
}

.item-box {
  padding: 1.6rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  color: var(--charcoal);
  font-weight: var(--weight-bold);
}

.item-box i {
  font-size: 1.6rem;
  color: var(--gray);
}

.part-2 {
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--white);
  margin-top: 10px;
  padding: 1.6rem;
  position: sticky;
  top: 8rem;
  font-weight: var(--weight-bold);
  color: var(--gray);
}
.recent-box p {
  font-weight: var(--weight-regular);
  color: var(--charcoal);
}
.recent-visit {
  margin-top: 1.2rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-weight: var(--weight-bold);
}
.group-box {
  margin-top: 2.6rem;
  color: var(--blue);
  font-weight: 500;
}
.events {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.8rem 0;
}
.events i {
  color: var(--gray);
}
.see-all {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--silver);
  font-weight: 600;
}
.discover {
  text-align: center;
  font-size: 1.4rem;
  padding-top: 1.4rem;
  font-weight: 600;
}

/*# ========================Center content  */
/*# =====================================Center content =============================== */
.post-box {
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--white);
  padding: 1rem 1.6rem;
  height: 12rem;
  color: var(--gray);
  font-weight: var(--weight-bold);
}
.profile-post {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.profile-post img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.start-post {
  border: 1px solid var(--silver);
  border-radius: 2.5rem;
  width: 100%;
  text-align: justify;
  padding: 1.8rem 1rem;
}

.start-post p {
  font-size: 1.4rem;
}
.start-post:hover {
  cursor: pointer;
  background-color: var(--hover-light);
}
.attachment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.attachment-option {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  font-size: 1.4rem;
}
.attachment-option span {
  margin-right: 1rem;
}
.photo {
  color: var(--blue);
}
.video {
  color: var(--green);
}
.event {
  color: var(--orange);
}
.article {
  color: var(--red);
}
.sortby {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--gray);
}
.sortby span {
  font-weight: 600;
  margin: 0 0.3rem;
  color: black;
}
.sortby svg {
  color: black;
}
.line {
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin-bottom: 1rem;
}
.xyz {
  border-bottom: 1px solid var(--silver);
  margin-bottom: 0.6rem;
}

/*#======================================================================================= */

/*#right aside */
.news-block {
  border-radius: 1rem;
  background-color: var(--white);
  padding: 10px;
}

.aside-right {
  font-size: 1.6rem;
  font-weight: var(--weight-regular);
  color: var(--charcoal);
}

.aside-right i {
  font-size: 2rem;
}

.aside-right-heading {
  font-weight: var(--weight-bold);
  font-size: 1.6rem;
  margin: 1.5rem;
}

.unordered_list {
  /* border: 1px solid firebrick; */
  margin: 1.5rem;
}

.unordered_list a {
  font-weight: var(--weight-bold);
  color: var(--charcoal);
}

.unordered_list p {
  color: var(--gray);
}

.unordered_list ul li {
  list-style: disc;
  margin-left: 1.5rem;
  font-size: 1.4rem;
  font-weight: var(--weight-regular);
  margin-top: 1rem;
}

.unordered_list ul p {
  font-size: 1.2rem;
  font-weight: var(--weight-regular);
  margin-left: 1.5rem;
  margin-top: 0.7rem;
}

.show-more {
  margin-top: 2rem;
  cursor: pointer;
}

.show-more span {
  padding: 0.4rem 2.5rem;
  border-radius: 2.5px;
  font-weight: var(--weight-bold);
  font-size: 1.4rem;
  color: var(--gray);
}

.show-more :hover {
  background-color: var(--gray);
}

.help-center {
  margin-top: 3rem;
  position: sticky;
  top: 8rem;
  font-size: 1.2rem;
}

.help-center-row {
  justify-content: space-evenly;
  margin-top: 1rem;
}

.help-center-row a {
  color: var(--gray);
}

.linkedIn-img {
  margin-top: 1rem;
  margin-left: 4rem;
}

.linkedIn-img img {
  width: 6rem;
}

.linkedIn-img span {
  margin-top: 4rem;
}

/* ================================================ Message block ====================================================*/

.messege_block {
  width: 22%;
  height: 4.5rem;
  background-color: var(--white);
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 5px 5px 0px 0px;
  padding: 1rem;
  box-shadow: 0px 0px 4px var(--light-grey);
}

.messege_block-img img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  /* margin-bottom: 2.4rem; */
}

.messege_block-img p {
  margin-left: 5px;
  font-size: 1.3rem;
  font-weight: var(--weight-regular);
}

.message_block-controls i {
  font-size: 2rem;
  margin-right: 5px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.message_block-controls i:hover {
  background-color: var(--gray);
}

.display_block {
  display: none;
}

.message_complete_block {
  width: 300px;
  background-color: var(--white);
  border-radius: 5px 5px 0px 0px;
  padding: 1rem;
  box-shadow: 0px 0px 4px var(--silver);
  position: fixed;
  right: 0;
  bottom: 0;
}

.border {
  border-bottom: 1px solid var(--silver);
  padding-bottom: 1rem;
}

.message_search {
  background: var(--hover-light);
  margin-top: 1rem;
  border-radius: 5px;
  font-size: 20px;
}

.message_search input {
  background: var(--hover-light);
  border: none;
}

.message_search > i {
  margin-right: 1rem;
}

.chats {
  margin-top: 2rem;
  border-bottom: 1px solid var(--silver);
  padding: 10px;
}

.chats img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 7px;
}

.img_chat {
  display: flex;
}

.img_chat p {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: var(--weight-regular);
}

.chats .time {
  margin-bottom: 3.2rem;
}

/* ================================================ Message block ====================================================*/

.messege_block {
  width: 300px;
  height: 4.5rem;
  background-color: var(--white);
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 5px 5px 0px 0px;
  padding: 1rem;
  box-shadow: 0px 0px 4px var(--silver);
}

.messege_block-img img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  /* margin-bottom: 2.4rem; */
}

.messege_block-img p {
  margin-left: 5px;
  font-size: 1.3rem;
  font-weight: var(--weight-regular);
}

.message_block-controls i {
  font-size: 2rem;
  margin-right: 5px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.message_block-controls i:hover {
  background-color: var(--gray);
}

.display_block {
  display: none;
}

.message_complete_block {
  width: 300px;
  background-color: var(--white);
  border-radius: 5px 5px 0px 0px;
  padding: 1rem;
  box-shadow: 0px 0px 4px var(--silver);
  position: fixed;
  right: 0;
  bottom: 0;
}

.border {
  border-bottom: 1px solid var(--silver);
  padding-bottom: 1rem;
}

.message_search {
  background: var(--hover-light);
  margin-top: 1rem;
  border-radius: 5px;
  font-size: 20px;
}

.message_search input {
  background: var(--hover-light);
  border: none;
}

.message_search > i {
  margin-right: 1rem;
}

.chats {
  margin-top: 2rem;
  border-bottom: 1px solid var(--silver);
  padding: 10px;
}

.chats img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 7px;
}

.img_chat {
  display: flex;
}

.img_chat p {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: var(--weight-regular);
}

.chats .time {
  margin-bottom: 3.2rem;
}

/* ============================= Work popup ================================= */

.work_popup {
  background-color: var(--white);
  width: 28%;
  padding: 2rem;
  border-radius: 1.5rem 0 0 1.5rem;
}

.work_header {
  font-weight: var(--weight-bold);
  font-size: 1.6rem;
}

.work_first-block {
  border: 0.5px solid var(--silver);
  margin-top: 3rem;
  border-radius: 10px;
}

.work_first-block-heading {
  border-bottom: 0.5px solid var(--silver);
  padding: 2rem;
}

.work_first-block-heading h3 {
  font-size: 1.5rem;
}

.visit_links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.svg_box {
  border: 1px solid var(--silver);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 2rem;
  margin-top: 3rem;
}

.svg_box:hover {
  box-shadow: 0px 0 5px 2px var(--silver);
}

.svg-and-text p {
  color: var(--gray);
  margin-left: 1.8rem;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}

.work_second-block {
  border: 0.5px solid var(--silver);
  margin-top: 1rem;
  border-radius: 10px;
}

.work_second-block-heading {
  border-bottom: 0.5px solid var(--silver);
  padding: 2rem;
}

.work_second-block-heading h3 {
  font-size: 1.5rem;
}

.service_list {
  padding: 0rem 2rem;
}

.service_list li {
  margin-top: 1.5rem;
}

.service_list p {
  color: var(--gray);
  margin-top: 3px;
}

.work_second-block-footer {
  border-top: 0.5px solid var(--silver);
  margin-top: 1rem;
  padding: 1.5rem 2rem;
  justify-content: start;
}

.work_second-block-footer p {
  font-weight: var(--weight-bold);
  font-size: 1.4rem;
  /* margin-bottom: 1rem; */
}

.work_second-block-footer i {
  font-size: 1.7rem;
  margin-left: 5px;
}
