/*
- Font sizes (px) 
- Rem 1rem 1.2rem 1.4rem ...
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

LinkedIn font-sizes
-1.2rem
-1.4rem
-1.6rem

- Spacing system (px)
- Rem 0.2rem 0.4rem 0.8rem ...
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  --white: #fff;
  --body-bg: #f3f2ef;
  --black: #191919;
  --gray: #666;
  --blue: #0a66c2;
  --red: #915907;
  --green: #057642;
  --hover-light: #ebebeb;
  --hover-blue: #e2f0f2;
  --input-bg: #eef3f8;
  --poppins: 'Poppins', sans-serif;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-bold: 700;
}

html {
  box-sizing: border-box;
  /* 1 rem = 10px */
  font-size: 62.5%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: var(--poppins);
  font-weight: var(--weight-regular);
  line-height: 1;
  background: var(--body-bg);
  font-size: 1.2rem;
}

a {
  color: var(--black);
}

.container {
  max-width: 120rem;
}

.grid-3-col {
  margin: 0 auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr;
  gap: 2rem;
  padding-right: 5px;
}



/*#==================================================== Navbar ======================================================================= */

.navbar-bg {
  background-color: var(--white);
  margin-bottom: 2.4rem;
}

#navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 0 auto;
}

.logo i {
  font-size: 4.5rem;
  color: var(--blue);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.search-box {
  background: var(--hover-light);
  width: 250px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.search-box i {
  font-size: 15px;
}

.search-box input {
  width: 100%;
  background: transparent;
  padding: 8px;
  outline: none;
  border: 0;
}



/* =================================== CENTER ====================================*/
.navbar-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  cursor: pointer;
}


.profile-img {
  width: 23px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}

.online {
  position: relative;
}

.online::after {
  content: '';
  width: 8px;
  height: 8px;
  border: 2px solid var(--white);
  border-radius: 50%;
  right: 0px;
  top: 0px;
  background: #41db51;
  position: absolute;
}

.work a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gray);
  cursor: pointer;
}

.work a:hover {
  color: var(--black);
}

.work i:hover {
  color: var(--black);
}

.work i {
  font-size: 2.5rem;
  display: flex;
}

.nine-dots {
  color: var(--gray);
  cursor: pointer;
}

.nine-dots:hover {
  color: var(--black);
}

.try-premium {
  color: var(--red);
  text-align: center;
}

.try-premium a {
  color: var(--red);
}


/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/*#================================================================ Left aside =======================================================*/

.aside-left {
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--white);
}

.identity-img {
  background: url(https://media.licdn.com/dms/image/C4D16AQFSzFIBalvPxA/profile-displaybackgroundimage-shrink_200_800/0/1662794400367?e=1676505600&v=beta&t=1ltsT07gWqRLWHhGrowdrAwjg3xVI6qnLmUjn_mRtno);
  background-position: center;
  background-size: cover;
  height: 5.6rem;
  display: flex;
  justify-content: center;
}

.identity-text img {
  border-radius: 50%;
  width: 72px;
  height: 72px;
  margin-bottom: 2.4rem;
}

.identity-text {
  text-align: center;
  padding: 1.2rem;
  border-bottom: 1px solid var(--gray);
  margin-top: -4.8rem;
}

.identity-text a {
  font-size: 1.6rem;
  font-weight: var(--weight-regular);
  color: var(--black);
  display: block;
}

.identity-text a:hover {
  text-decoration: underline;
}

.identity-text p {
  margin-top: 1.2rem;
  font-size: 1.2rem;
  font-weight: var(--weight-light);
}

.connection-box {
  padding: 1.2rem;
  border-bottom: 1px solid var(--gray);
}

.connections {
  margin-bottom: 1.2rem;
}

.connections,
.views {
  display: flex;
  justify-content: space-between;
  line-height: 1.6;
}

.connection-box span {
  color: var(--blue);
}

.premium-box {
  padding: 1.2rem;
  border-bottom: 1px solid var(--gray);
}

.premium-box a {
  text-decoration: underline;
}

.item-box {
  padding: 1.6rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.item-box i {
  font-size: 1.6rem;
}

/*# Center content  */